version: "3.9"

services:
  app:
    build: .
    container_name: Dockerized_ChatApp
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: Dockerized_ChatAppdb
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: chatdb
      POSTGRES_PASSWORD: helloworld123
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  adminer:
    image: adminer
    container_name: Dockerized_Adminer
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      - db

volumes:
  pgdata:
